.dashboard
    &-wrapper
        width 100vw
        height 100vh
        display flex
        flex-direction row
        justify-content space-between
        ul
            list-style none
    &-menu-left 
        order 1
        align-self flex-start
        ul
            display flex
            flex-direction column
            justify-content space-between
            li.dashboard-nav-link
                align-self center

    &-menu-right
        order 2
        ul
            display flex
            flex-direction column
            justify-content space-between
            li.dashboard-nav-link
                align-self center
    